* {
    outline: 1px dashed red;
}

:root {
    /* background colours */
    --bg1: #0a0a23;
    --bg2: #1b1b32;
    --bg3: #2a2a40;
    --bg4: #3b3b4f;
    /* text and main highlight colour */
    --txt1: #ffffff;
    --txt2: #f5f6f7;
    --txt3: #dfdfe2;
    --txt4: #d0d0d5;
    /* accent colour */
    --purple: #dbb8ff;
    --darkpurple: #5a01a7;
    --yellow: #f1be32;
    --darkyellow: #4d3800;
    --blue: #99c9ff;
    --darkblue: #002ead;
    --green: #acd157;
    --darkgreen: #00471b;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    color: var(--txt1);
    font-size: 1.8rem;
    background-color: var(--bg1);

}

article {
    height: 100vh;
}