* {
    /* outline: 1px dashed red; */
}

:root {
    /* background colours */
    --bg1: #0a0a23;
    --bg2: #1b1b32;
    --bg3: #2a2a40;
    --bg4: #3b3b4f;
    /* text and main highlight colour */
    --txt1: #ffffff;
    --txt2: #f5f6f7;
    --txt3: #dfdfe2;
    --txt4: #d0d0d5;
    /* accent colour */
    --purple: #dbb8ff;
    --darkpurple: #5a01a7;
    --yellow: #f1be32;
    --darkyellow: #4d3800;
    --blue: #99c9ff;
    --darkblue: #002ead;
    --green: #acd157;
    --darkgreen: #00471b;
}

html {
    font-size: 10px;
    /* margin: 0; */
    /* padding: 0; */
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
    margin: 0;
    /* padding: 0; */
    color: var(--txt1);
    font-size: 1.8rem;
    /* background-color: var(--bg1); */

}

.banner {
    box-sizing: inherit;
    outline: 1px dashed green;
    position: relative;
    width: 100%;
    min-height: 100vh;
    min-height: 100dvh;
    padding: 100px;
    /* background: url(assets/bg.jpg); */
    background-color: var(--bg1);
    background-size: cover;
    display: flex;
    align-items: center;
}

header {
    box-sizing: inherit;
    outline: 1px dashed red;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 40px 100px;
    z-index: 1000;
}

header .logo {
    /* margin: inherit; */
    position: relative;
    font-weight: 700;
    text-decoration: none;
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 3s;
}

header #toggle {
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

header #toggle::before {
    content: "";
    position: absolute;
    top: 7px;
    width: 100%;
    height: 2px;
    background: #fff;
}

header #toggle::after {
    content: "";
    position: absolute;
    bottom: 7px;
    width: 100%;
    height: 2px;
    background: #fff;
}

article {
    outline: 1px dashed yellow;
    /* height: 100vh; */
}